.home {
  min-height: 100vh;
  background: var(--bg-secondary);
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.home-middle {
  justify-self: center;

  margin: 75px 15px 0 15px;
}

/* Activate popup */
.popup {
  position: relative;
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  width: 40vw;
  height: 200px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-bottom: 1px solid var(--bg-third);
  padding: 15px;
}

.popup-message {
  padding: 15px;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .stories {
    grid-template-columns: repeat(5, 1fr);
  }

  .left-home,
  .right-home {
    width: 18vw;
  }
}

/* Send Verification */
.send-verification {
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  padding: 20px;
  font-size: 14px;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.send-verification a {
  color: var(--blue-color);
}

.send-verification a:hover {
  color: var(--blue-color);
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 990px) {
  .left-link span,
  .left-link .col {
    display: none;
  }
  .shortcut-header {
    display: none;
  }
  .shortcut-item span {
    display: none;
  }
  .left-home {
    width: 70px;
  }
  .left-link {
    background: var(--bg-third);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  .contact-icons {
    gap: 0;
  }
}

@media (max-width: 850px) {
  .home-middle {
    padding: 0 20px;
  }
  .stories {
    grid-template-columns: repeat(6, 1fr);
  }

  .right-home {
    display: none;
  }
}

@media (max-width: 770px) {
  .stories {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 670px) {
  .left-home {
    display: none;
  }
}

@media (max-width: 620px) {
  .story-profile-name,
  .create-story-text {
    display: none;
  }
  .story-profile-picture {
    width: 40px;
    height: 40px;
  }
  .story,
  .create-story-card {
    height: 30vw;
  }
}

@media (max-width: 400px) {
  .home {
    display: block;
  }
}
